<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.1//EN" "https://raw.githubusercontent.com/rbatis/rbatis/master/rbatis-codegen/mybatis-3-mapper.dtd">
<mapper>
    <sql id="select_reports">
        `SELECT
        id,
        user_id,
        board_id,
        report_type,
        title,
        description,
        file_path,
        thumbnail_file_path,
        url,
        browser_name,
        browser_version,
        os_name,
        created_at,
        updated_at
        FROM reports `
    </sql>

    <select id="find_by_id">
        <include refid="select_reports"></include>
        WHERE id = #{id}
    </select>

    <select id="find_recent_reports_by_board">
        <include refid="select_reports"></include>
        WHERE board_id = #{board_id}
        ORDER BY created_at DESC
        LIMIT #{limit}
    </select>

    <select id="find_by_board_id_paginated">
        <include refid="select_reports"></include>
        WHERE board_id = #{board_id}
        ORDER BY created_at DESC
        LIMIT #{per_page}
        OFFSET #{offset}
    </select>

    <select id="count_by_board_id">
        SELECT COUNT(*) FROM reports WHERE board_id = #{board_id}
    </select>

    <insert id="insert_report">
        INSERT INTO reports (id, user_id, board_id, report_type, title, description, file_path, thumbnail_file_path,
        url, browser_name, browser_version, os_name, created_at, updated_at)
        VALUES (
        #{entity.id},
        #{entity.user_id},
        #{entity.board_id},
        #{entity.report_type},
        #{entity.title},
        #{entity.description},
        #{entity.file_path},
        #{entity.thumbnail_file_path},
        #{entity.url},
        #{entity.browser_name},
        #{entity.browser_version},
        #{entity.os_name},
        #{entity.created_at},
        #{entity.updated_at}
        )
        RETURNING
        id,
        user_id,
        board_id,
        report_type,
        title,
        description,
        file_path,
        thumbnail_file_path,
        url,
        browser_name,
        browser_version,
        os_name,
        created_at,
        updated_at
    </insert>
</mapper>